.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(206, 206, 194);
  text-align: start;
  padding: 0px;
  margin:0px;
}
.calc{
  width: 18vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}